<a href="https://colab.research.google.com/github/fedunya/Jupyter/blob/main/Jupyter_seminar1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Домашнее задание 1<br>
Оформляйте ноутбук, используя эти советы:
* номер задачи - заголовок 2
* номер подзадачи - заголовок 3
* предоставленные наборы данных оформляйте, как код

## Домашнее задание 2  
На складе лежат разные фрукты в разном количестве.  
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [1]:
def amount_fruit(**kwars):
  result = sum(kwars.values())
  return result
total_fruit = amount_fruit(banana=5, mango=7, apple=8)
total_fruit

20

## Домашнее задание 3  
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [2]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [4]:
expenses_new = [i for i in expenses if i >= 0]
print(expenses_new)
total = sum(expenses_new)
print('Суммарные затраты на рекламу ->', total)

[100, 125, 345, 655, 0, 200]
Суммарные затраты на рекламу -> 1425

## Домашнее задание 4  
Даны два списка.  
Дата покупки

In [8]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

In [6]:
purchases_cost = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
                  4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
                  2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре  
Используйте list comprehensions

In [10]:
november = [purchases_cost[i] for i in range(len(date)) if date[i][5:7] == '11']
print(november)
print('Выручка в ноябре ->', sum(november))

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Выручка в ноябре -> 25098

### 4.2 Найдите выручку компании в зависимости от месяца  
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.  
Используйте аннотирование типов.

In [18]:
def profit_in_months(list1: list, list2: list) -> dict:
  profit = {'01': 0, '02': 0, '03': 0, '04': 0, '05': 0, '06': 0, 
           '07': 0, '08': 0, '09': 0, '10': 0, '11': 0, '12': 0}
  for i in range(len(list1)):
    profit.update({list1[i][5:7]: profit[list1[i][5:7]] + list2[i]})
  return profit
print('Выручка компании по месяцам:', profit_in_months(date, purchases_cost), sep='\n')

Выручка компании по месяцам:
{'01': 0, '02': 0, '03': 0, '04': 0, '05': 0, '06': 0, '07': 0, '08': 0, '09': 25647, '10': 28645, '11': 25098, '12': 45452}